*{
    font-family: 'Noto Sans KR', sans-serif; /* 글꼴 설정 */
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

h1{
    font-size: 48px;
    font-weight: 100px;
} /* 밑에 글씨들도 48픽셀로 고정으로 해두기에 */

.contents1{
    font-size: 20px;
    font-weight: 100px;
}

.contents2{
    /* font-size: */
}

.contents3{
    font-size: 14px;
    font-weight: 100;
}

.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}

/* 초기설정 */

.result{
    font-size: 24px;
}

.intro{    /*배경화면*/
    background-image:url("image/background.jpeg");
    width: 100%;
    height: 718px;
}

.header{   /* 위에 상단 부분을 지정 */
    display: flex; 
    width: 1280px;
    margin: auto;
    height: 86px;
}

.search_area{ /* 검색창 */
    margin-top: 24px; /* 네비게이션 바랑 위치를 맞추기 위해서 (위에서부터 24픽셀 아래로) */
    width: 300px;
    height: 40px;
    background: rgba(0,0,0,0.5); /* 불투명한 색 */
    border-radius: 5px; /* 둥글게 */
}

.search_area > form > input{ /* 검색 입력창 */
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0,0,0,0); /* 투명 */
    color: #fff; /* 글자색 흰색으로 */
    padding-left: 10px; /* 조금 더 안전하게 글자가 들어갈 수 있도록 조정 */
}

.search_area > form > span{ /* 검색 버튼 */
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer; /* 검색 버튼 쪽으로 가면 마우스 포인터가 바뀔 수 있도록 */
}

.navigation{ /* 네비게이션 바 */
    display: flex; /* inline 형식으로 바꾸기 위해서 */
    justify-content: flex-end; /* 네비게이션 바는 브라우저의 오른쪽에 위치해 있기 때문에 조정 */
    line-height: 86px; /* 글씨 위치를 중앙으로 조정 */
    width: calc(1280px - 300px); /* 전체 header의 픽셀이 1280인데 거기서 300픽셀은 검색창으로 사용 중이기에 그 나머지를 사용한다는 뜻  (자동 계산함)*/
}

.navigation > li{ /* navigation의 원소들 즉 li들을 접근하기 위해서 */
    margin-left: 84px; /* 각각의 글자들의 위치를 조정 */
}

.navigation > li > a { /* navigation의 원소들 안에 a 태그들을 접근 (그냥 네비게이션 안에 넣으면 적용이 안됨) */
    color: #fff; /* 네비게이션 바의 글씨들을 흰색으로 */
}

.intro_text{
    width: 100%;
    margin: 231px auto 231px auto; /* 상우하좌 순 */
    text-align: center;
}

.intro_text > h1,
.intro_text > h4{
    color: #fff;
}

.list{
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
    /* 처음 인자는 좌우를 지정 (양수이면 우측으로)
    두번째 인자는 그림자의 크기
    세번째 인자는 스프레드 효과 즉, 흐려지는 효과를 말하는 것이다
    네번째는 그림자의 색깔
    */
    margin: auto;
}

.list > li > div{
    text-align: center;
    height: 57px;
    margin-top: 37px;
    /*border-right: 1px solid gray; */
}

.list > li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;
}

/*
.list > li > div:not(:last-child){
    border-right: 1px solid gray;
}
위 코드로 진행했으나 모든 border가 사라졌기에
사실은 li안에 div들은 모두가 첫번째 요소이자
마지막 요소이기에 적용할 수 있는 것이 없는 것이다.
*/

.list > li{
    flex: 1;
    width: 320px;
    height: 132px;
}

/* main_text0 */

.main_text0{
    width: 100%;
    height: 601px;
    margin-top: -132px;
    background: #f1f2f3
}

.main_text0 > h1{
    margin-top: 116px;
    text-align: center;
    /*background: yellow;*/
}

.main_text0 > .contents1{
    text-align: center;
}

.icons{
    display: flex; /* 가로로 되어있기에 */
    width: 1280px; /* 지금 1280 픽셀을 기준으로 3분할이 되어있기 때문이다 */
    /*background: orange;*/
    margin: auto;
}

.icons > li{
    flex: 1;
    height: 302px;
    margin-top: 49px;
    background: white;
    text-align: center;
}

.icons > li > .icon_img{
    margin-top: 36px;
}

.icons > li:not(:last-child){
    margin-right: 20px;
}

.icons .contents3{ /* 이렇게 하면 ">"를 사용하지 않고도 바로 incons 안에 있는 contents라는 클라스를 가진 모든 요소로 바로 접근할 수 있다. */
    width: 224px;
    margin: auto;
    letter-spacing: -1px;
    margin-top: 7px;
}

.icons .more{
    width: 100px;
    height: 30px;
    background: #2f7af4;
    color: #fff;
    margin: auto;
    margin-top: 20px;
    line-height: 28px;
    font-size: 12px;
}

.main_text1{
    width: 100%;
    height: 659px;
}

.main_text1 > h1{
    padding-top: 50px;
    text-align: center;
}

.main_text1 > .contents1{
    text-align: center;
}

.service{
    width: 1280px;
    display: flex;
    margin: 49px auto;
    height: 427px;
}

.service > .contents3{
    padding: 20px;
}

.service > .contents3 > h2{
    margin-bottom: 27px;
}